header ul 
{
list-style-type: none;
overflow: hidden;
background-color: black;
margin: -5px;
margin-top:5px;
list-style: none;
border: solid 2px  grey;
width: 97%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*---------------------SECTION_BREAK---------------------*/
header li 
{
float: left;
align-items: center;
background-color: black;
}
/*---------------------SECTION_BREAK---------------------*/
li a 
{
display: block;
color: white;
text-align: center;
padding: 16px;
text-decoration: none;
}
/*---------------------SECTION_BREAK---------------------*/
li a:hover 
{
background-color: #555555;
cursor: pointer;
}
body{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: white;
background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-blue-artificial-intelligence-technology-ai-robot-banner-image_196890.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
font-weight: 600;
}
/*---------------------SECTION_BREAK---------------------*/
.Button
{
background-color: none;
border: none;
color: black;
height: 20px;
width: 10%;
border-radius: 72px;
margin: 10px;
border-color: blue;
border-width: 5px;}
button:hover{
background-color: blue;
color: white;
}
/*---------------------SECTION_BREAK---------------------*/
.dropbtn 
{
background-color: black;
color: white;
padding: 16px;
font-size: 16px;
border: none;
}
/*---------------------SECTION_BREAK---------------------*/
.drpdn 
{
  display: block;
}
/*---------------------SECTION_BREAK---------------------*/
.drpdn-content 
{
display: none;
position: absolute;
background-color: black;
min-width: 287px;
margin-top: 51.5px;
box-shadow: 0px 8px 16px 0px black;
z-index: 1;
margin-left: 210.7px;
}
/*---------------------SECTION_BREAK---------------------*/
.drpdn-content a 
{
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
color: white;
}
/*---------------------SECTION_BREAK---------------------*/
.drpdn-content a:hover 
{
background-color: grey;
}
/*---------------------SECTION_BREAK---------------------*/

.drpdn:hover .drpdn-content 
{
display: block;
}
/*---------------------SECTION_BREAK---------------------*/
.drpdn:hover .dropbtn 
{
background-color: grey;
}
/*---------------------SECTION_BREAK---------------------*/
.col-sm-4
{
width: 40%;
}
/*---------------------SECTION_BREAK---------------------*/
.col-sm-6
{
width: 60%;
float: right;
}
/*---------------------SECTION_BREAK---------------------*/
.container
{
margin-left: 50px;
margin-right: 50px;
padding-left: 10px;
padding-right: 10px;
}
/*---------------------SECTION_BREAK---------------------*/
.img-thumbnail
{
border-radius: 2px;
width: 25%;
height: 10%;
border: solid 3px white;
margin: 0.5;  
}
/*---------------------SECTION_BREAK---------------------*/  
.Image
{
transition: transform .2s;
width: 500px;
}
.Images
{
margin-top:200px;
}
/*---------------------SECTION_BREAK---------------------*/
hr
{
width: 100%;
}
/*---------------------SECTION_BREAK---------------------*/
.Image:hover
{
transform: scale(0.92);
/*---------------------SECTION_BREAK---------------------*/
}
.sidenav 
{
height: 100%;
width: 17%;
overflow-x: hidden;
background-color: black;
font-family: 'Times New Roman', Times, serif, sans-serif;
border-right: 2px solid grey;
border-top: 2px solid grey ;
border-bottom: 2px solid grey;     
}
/*---------------------SECTION_BREAK---------------------*/
.sidenav a 
{
padding: 12px 8px 12px 16px;
text-decoration: none;
font-size: 20px;
color: white;
display: block;
border: none;
background: none;
width: 100%;
text-align: left;
cursor: pointer;
outline: none;
font-weight: 900;
}
/*---------------------SECTION_BREAK---------------------*/
.sidenav a:hover 
{
background-color: grey;
}
/*---------------------SECTION_BREAK---------------------*/
.table-dark
{
padding: 5px;
background-color: #3d3936;
color: white;
border-bottom: solid 1px #737373;
}
/*---------------------SECTION_BREAK---------------------*/
.table-dark th
{
padding-right: 50px;
border-bottom: solid 1px #737373;
}/*--------------------SECTION_BREAK---------------------*/
.table-dark thead
{
border-bottom: solid 1px #737373;
}
/*---------------------SECTION_BREAK---------------------*/
.table-dark td
{
padding-left: 15px;
padding-right: 15px;
}
/*---------------------SECTION_BREAK---------------------*/
.np 
{
  font-family: 'Courier New', Courier;
  color: rgb(255, 136, 0);
}
/*---------------------SECTION_BREAK---------------------*/
li:hover
{
  transform: scale(1.1);
}
/*---------------------SECTION_BREAK---------------------*/
p
{
  color: white;
}
/*---------------------SECTION_BREAK---------------------*/
a
{
  text-decoration: none;
}
/*---------------------SECTION_BREAK---------------------*/
.myimage
{
float:left;
width: 350px;
}
/*---------------------SECTION_BREAK---------------------*/
.myimage:hover
{
transform: scale(0.92);
}
/*---------------------SECTION_BREAK---------------------*/
.myclass{
width: 30%;
float: left;
margin-right: 20px;
}
html
{
scroll-behavior: smooth;
}
.myclass2
{
width: 60%;
font-size: 23.25px;
transform: scale(1);
}

img.i{
  width: 379px;
  /*height: 199px;*/
  float: right;
}






